<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Error</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
{% if results %}
    {% if results.error_message %}
        <h2>{{ results.error_message }}</h2>
    {% endif %}

    {% if results.hairdresser_not_available %}
        <h2>Selected hairdresser is not available on this day.</h2>
    {% endif %}

    {% if results.time_not_available %}
        <h2>Selected time is not available for the chosen hairdresser. Available times: {{ results.available_times }}</h2>
    {% endif %}

    {% if results.service_not_provided %}
        <h2>Sorry, one or more selected services are not provided.</h2>
    {% endif %}

    {% if results.service_will_be_provided %}
        <h2>We will provide this service in the future.</h2>
    {% endif %}
{% endif %}
</body>
</html>
